.ipynb_checkpoints/
.DS_Store
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
temp*.ipynb
temp*.py
TEMP*.py
TEMP*.ipynb
wptherml/*.pyc
wptherml/datalib/*.pyc
wptherml/numlib/*.pyc
.ipynb_checkpoints/
.ipynb_checkpoints/*
example/.ipynb_checkpoints/
example/.ipynb_checkpoints/*
