.DS_Store
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
test*.py
test*.ipynb
TEST*.py
TEST*.ipynb
wptherml/*.pyc
wptherml/datalib/*.pyc
wptherml/numlib/*.pyc
.ipynb_checkpoints/
.ipynb_checkpoints/*
example/.ipynb_checkpoints/
example/.ipynb_checkpoints/*
